<!DOCTYPE html>
<html>
  <head>
    <title>{Title}{block:PostTitle} | {PostTitle}{/block:PostTitle}</title>
    
    <link rel="shortcut icon" href="{Favicon}">
    
    <link rel="alternate" type="application/rss+xml" href="{RSS}">
    
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
    
    <meta name="viewport" content="width=980">
    
    {block:Description}
      <meta name="description" content="{MetaDescription}" />
    {/block:Description}
    
    <meta property="og:title" content="{Title}{block:PostTitle} | {PostTitle}{/block:PostTitle}" />
    <meta property="og:image" content="{{ root_url }}{{ STATIC_URL }}images/logo.png" />
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="{Title}" />
    <meta property="fb:admins" content="13900224" />
    
    {block:Description}
      <meta property="og:description" content="{MetaDescription}" />
    {/block:Description}
    
    
    {% block custom_variables %}
      {% include 'custom-variables.template' %}
    {% endblock %}
    
    {% block google_analytics %}
      {block:IfGoogleAnalyticsID}
        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        
          ga('create', '{text:Google Analytics ID}');
          ga('send', 'pageview');
        </script>
      {/block:IfGoogleAnalyticsID}
    {% endblock %}
    
    {% block typekit %}
      {block:IfTypekitID}
        <script type="text/javascript" src="//use.typekit.net/{text:Typekit ID}.js"></script>
        <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
      {/block:IfTypekitID}
    {% endblock %}
    
    <style type="text/css">
      {{ rendered_css }}
      
      {CustomCSS}
    </style>
  </head>
  
  <body class="{block:IfWide}wide{/block:IfWide}">
    <div class="main">
      {% include 'header.template' %}
      {% include 'posts.template' %}
      {% include 'footer.template' %}
    </div>
  </body>
</html>
