<div class="footer">
  {block:IfByline}
    <h3 class="footer-byline">{text:Byline}</h3>
  {/block:IfByline}
  
  <div class="footer-links">
    <a class="archive" href="/archive">Archive</a>
    |
    <a href="https://github.com/zachsnow/whistlingwestward.com/">&copy; Snow</a>
  </div>
</div>
