{% import 'macros.template' as macros %}

<div class="header {{ macros.has_first_photo(False)  }}">
  <div class="header-mast">
    <h1 class="header-title">
      <a href="/">{Title}</a>
    </h1>
  </div>
</div>
