<div class="notes">
  <a href="{Permalink}" class="note-count no-notes {block:NoteCount}has-notes{/block:NoteCount}" target="_new">{text:No Notes Message}</a>
  {block:PostNotes}
    {block:NoteCount}
      <a class="note-count" href="{Permalink}" target="_new">{NotesCountWithLabel}</a>
    {/block:NoteCount}
    {PostNotes-64}
  {/block:PostNotes}
</div>
