{% extends "post.template" %}

{% block type %}photo{% endblock %}

{% block content %}
  <img class="photo-image" src="{PhotoURL-HighRes}" alt="{PhotoAlt}" />
{% endblock %}

{% block title %}
  {block:Caption}
    <span class="caption">{Caption}</span>
  {/block:Caption}
{% endblock %}