<li class="photoset-photo">
  <a href="{Permalink}">
    <img class="photo-image" src="{PhotoURL-HighRes}" alt="{PhotoAlt}"
      width="{PhotoWidth-HighRes}" height="{PhotoHeight-HighRes}"
    />
  </a>
</li>
