{% extends "post.template" %}

{% block type %}photo{% endblock %}

{% block content %}
  <ul class="photoset-photos">
    {% include 'photoset-photo.template' %}
  </ul>
  
  <div class="photo-caption">{Caption}</div>
{% endblock %}

