<ul class="posts">
  {block:Posts}
    {% include 'text.template' %}
    {% include 'photo.template' %}
  {/block:Posts}
</ul>

<div class="post-navigation">
  {block:PreviousPage}
    <a class="previous" href="{PreviousPage}">&laquo;</a>
  {/block:PreviousPage}

  <a class="archive" href="/archive">Archive</a>
  
  {block:NextPage}
    <a class="next" href="{NextPage}">&raquo;</a>
  {/block:NextPage}
</div>
