{% extends "post.template" %}

{% block type %}quote{% endblock %}

{% block content %}
  <div class="quote-text">
    &ldquo;{Quote}&rdquo;
  </div>
{% endblock %}

{% block title %}
  {block:Source}
    <div class="quote-source">{Source}</div>
  {/block:Source}
{% endblock %}
