{% extends "post.template" %}

{% block type %}quote{% endblock %}

{% block content %}
  <div class="quote-wrap">
    <div class="quote-text">
      &ldquo;{Quote}&rdquo;
    </div>
    
    {block:Source}
      <div class="quote-source">&mdash; {Source}</div>
    {/block:Source}
  </div>
{% endblock %}
