{% extends "post.template" %}

{% block type %}text{% endblock %}

{% block content %}
  <div class="text-body">{Body}</div>
  
  {block:Title}
    <div class="text-title">{Title}</div>
  {/block:Title}
{% endblock %}
