{% extends "post.template" %}

{% block type %}text{% endblock %}

{% block content %}
  {Body}
{% endblock %}

{% block title %}
  {block:Title}
    <span class="text-title">{Title}</span>
  {/block:Title}
{% endblock %}
