body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td, iframe, a, img {
  margin: 0;
  padding: 0;
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

fieldset, img {
  border: 0;
}

address, caption, cite, code, dfn, em, strong, th, var {
  font-style: normal;
  font-weight: normal;
}

ol, ul, li {
  list-style: none;
}

caption, th {
  text-align: left;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

q:before, q:after {
  content: '';
}

abbr, acronym {
  border: 0;
}

a {
  color: inherit;
  font-style: normal;
  cursor: pointer;
  text-decoration: none;
}

body {
  color: {color:Primary Text Color};
  background-color: {color:Background Color};
  font-family: {text:Text Font Family};
  line-height: 1.8em;
}

.footer {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  color: {color:Secondary Text Color};
}
.footer .footer-byline {
  line-height: 1.2em;
  color: {color:Primary Text Color};
}
.footer .footer-byline .email {
  line-height: 1.2em;
  display: inline-block;
  border-bottom: 1px solid {color:Post Border Color};
}
.footer .footer-links {
  margin-top: 10px;
  line-height: 1.2em;
}
.footer .footer-links .archive {
  line-height: 1.2em;
  display: inline-block;
  border-bottom: 1px solid {color:Post Border Color};
}
.footer .footer-links .copy {
  line-height: 1.2em;
  display: inline-block;
  border-bottom: 1px solid {color:Post Border Color};
}

i, em {
  font-style: italic;
}

b, strong {
  font-weight: bold;
}

.header {
  width: 980px;
  margin: 0 auto;
  position: relative;
  height: 180px;
}
.header .header-mast {
  position: absolute;
  top: 20px;
  left: 0;
  width: 940px;
  font-family: {text:Header Font Family};
}
.header .header-mast .header-title {
  font-size: 80px;
  width: 1px;
  /* Force a wrap at space. */
  line-height: 0.7em;
  text-shadow: 1px 1px 0 {color:Background Color};
}
.header.has-first-photo {
  height: 20px;
}
.header.has-first-photo .header-mast {
  top: 40px;
  left: 20px;
}

.posts .post {
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 40px;
  padding-bottom: 20px;
  border-bottom: 2px solid {color:Post Border Color};
  /* Shared between photo and photoset posts. */
}
.posts .post:last-child {
  margin-bottom: 20px;
}
.posts .post .post-content {
  max-width: 980px;
  margin: 0 auto;
  display: relative;
}
.posts .post .post-footer {
  margin-top: 20px;
}
.posts .post .post-footer .post-tags {
  max-width: 980px;
  margin: 0 auto;
  text-align: center;
}
.posts .post .post-footer .post-tags .post-tag {
  display: inline-block;
  text-transform: capitalize;
}
.posts .post .post-footer .post-tags .post-tag .post-tag-link {
  padding: 5px 10px;
  margin: 0 10px;
  color: {color:Secondary Text Color};
}
.posts .post .post-footer .post-tags .post-tag .post-tag-link:hover {
  background-color: {color:Highlight Color};
}
.posts .post.photo .photo-caption, .posts .post.photoset .photo-caption {
  text-align: center;
  margin-top: 20px;
  font-size: 12px;
  /* Assumes that the first paragraph in the caption is the "real" title. */
}
.posts .post.photo .photo-caption p:first, .posts .post.photoset .photo-caption p:first {
  font-family: {text:Header Font Family};
  font-size: 30px;
}
.posts .post.photo .photoset-photos .photoset-photo .photo-image, .posts .post.photoset .photoset-photos .photoset-photo .photo-image {
  width: 100%;
  height: auto;
  vertical-align: bottom;
}
.posts .post.text .text-body {
  border: 1px solid {color:Post Border Color};
  padding: 20px;
  background-color: {color:Post Background Color};
}
.posts .post.text .text-body p {
  margin-bottom: 20px;
}
.posts .post.text .text-body p:last-child {
  margin-bottom: 0;
}
.posts .post.text .text-title {
  text-align: center;
  margin-top: 20px;
}
.posts .post.quote .quote-wrap {
  border-left: 6px solid {color:Post Border Color};
  padding-left: 20px;
}
.posts .post.quote .quote-text {
  font-style: italic;
  font-size: 20px;
}
.posts .post.link {
  text-align: center;
}
.posts .post.link .link-target .link-name {
  display: inline-block;
  padding: 20px;
  font-size: 30px;
}
.posts .post.link .link-target .link-name:hover {
  background-color: {color:Highlight Color};
}
.posts .post.link .link-target .link-name .link-symbol {
  vertical-align: middle;
  padding-right: 10px;
  font-size: 50px;
  color: {color:Secondary Text Color};
}
.posts .post.link .link-description {
  margin-top: 10px;
}

.pagination {
  text-align: center;
  margin-bottom: 10px;
}
.pagination .pagination-link {
  display: inline-block;
  padding: 5px 20px;
  visibility: hidden;
}
.pagination .pagination-link.exists {
  visibility: visible;
}
.pagination .pagination-link:hover {
  background-color: {color:Highlight Color};
}
.pagination .pagination-current {
  padding: 5px 20px;
}

.navigation {
  text-align: center;
}
.navigation .navigation-link {
  display: inline;
}

.notes {
  margin-top: 5px;
  text-align: center;
  color: {color:Secondary Text Color};
}
.notes .note-count {
  display: inline-block;
  padding: 5px 12px 5px 10px;
  /* The heart throws off the padding a bit. */
}
.notes .note-count:hover {
  background-color: {color:Highlight Color};
}
.notes .tumblr-notes {
  margin-top: 20px;
  padding-top: 20px;
  border-top: 2px solid {color:Post Border Color};
}
.notes .tumblr-notes .notes {
  margin: 0 auto;
  text-align: left;
  width: 980px;
}
.notes .tumblr-notes .note {
  height: 32px;
  line-height: 32px;
}
.notes .tumblr-notes .note .avatar {
  vertical-align: middle;
}
.notes .tumblr-notes .note .action {
  font-size: 11px;
  padding-left: 10px;
  display: inline-block;
  line-height: 1.2em;
}
.notes .tumblr-notes .note .action a {
  line-height: 1.2em;
  display: inline-block;
  border-bottom: 1px solid {color:Post Border Color};
}
