body {
  color: $primaryTextColor; 
  background-color: $backgroundColor;
  line-height: 1.8em;
  
  @include textFontFamily();
}

@mixin link(){
  line-height: 1.2em;
  display: inline-block;
  border-bottom: 1px solid $postBorderColor;
}

@mixin animate($property, $time, $ease: ease-in-out){
  transition: $property $time $ease;
  -moz-transition: $property $time $ease;
  -webkit-transition: $property $time $ease;
}

.footer {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  color: $secondaryTextColor;
  
  .footer-byline {
    line-height: 1.2em;
    
    color: $primaryTextColor;
    
    @include link();
  }
  
  .footer-links {
    margin-top: 20px;
    line-height: 1.2em;
    
    .archive {
      @include link();
    }
  }
  
  .theme {
    margin-top: 15px;
    font-size: 12px;
    text-align: right;
    margin-right: 10px;
  }
}

i, em {
  font-style: italic;
}

b, strong {
  font-weight: bold;
}

#tumblr_controls {
  top: 25px !important;
  right: 15px !important;
}
