body {
  color: $primaryTextColor; 
  background-color: $backgroundColor;
  line-height: 1.8em;
}

.footer {
  margin-bottom: 20px;
  text-align: center;
  color: $secondaryTextColor;
  
  .archive {}
  
  .footer-byline {
    color: $primaryTextColor;
  }
}

i, em {
  font-style: italic;
}

b, strong {
  font-weight: bold;
}
