body {
  color: $primaryTextColor; 
  background-color: $backgroundColor;
  line-height: 1.8em;
  
  @include textFontFamily();
}

@mixin link(){
  line-height: 1.2em;
  display: inline-block;
  border-bottom: 1px solid $postBorderColor;
}

.footer {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  color: $secondaryTextColor;
  
  .footer-byline {
    line-height: 1.2em;
    
    color: $primaryTextColor;
    
    .email {
      @include link();
    }
  }
  
  .footer-links {
    margin-top: 10px;
    line-height: 1.2em;
    
    .archive {
      @include link();
    }
  
    .copy {
      @include link();
    }
  }
}

i, em {
  font-style: italic;
}

b, strong {
  font-weight: bold;
}

#tumblr_controls {
  top: 25px !important;
  right: 15px !important;
}
