.header {
  width: $contentWidth;
  margin: 0 auto;
  
  position: relative;
  
  .header-mast {
    position: absolute;
    top: 20px;
    left: 0;
    
    width: $contentWidth - 40px;
    
    @include headerFontFamily();
    
    .header-title {
      font-size: 80px;
      width: 1px; /* Force a wrap at space. */
      line-height: 0.7em;
      text-shadow: 1px 1px 0 $backgroundColor;
    }    
  }
  
  height: 180px;
  
  &.has-first-photo {
    height: 20px;
    
    .header-mast {
      top: 40px;
      left: 20px;
    }
  }
}

.wide .header {
  &.has-first-photo {
    height: 0;
    .header-mast {
      height: 0;
      left: 10px;
    }
  }
}
