.posts {
  .post {
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 40px;
    &:last-child {
      margin-bottom: 20px;
    }
    
    padding-bottom: 20px;
    border-bottom: 2px solid $postBorderColor;
    
    .post-content {
      max-width: $contentWidth;
      margin: 0 auto;
      
      display: relative;
    }
    
    .post-footer {
      margin-top: 10px;
      
      .post-tags {
        max-width: $contentWidth;
        margin: 0 auto;
        text-align: center;
        
        .post-tag {
          display: inline-block;
          text-transform: capitalize;
          
          .post-tag-link {
            padding: 5px 10px;
            margin: 0 10px;
            
            color: $secondaryTextColor;
            
            &:hover {
              background-color: $highlightColor;
            }
          }
        }
      }
    }
    
    /* Shared between photo and photoset posts. */
    &.photo, &.photoset {
      .photo-caption {
        text-align: center;
        margin-top: 20px;
        font-size: 12px;
        
        /* Assumes that the first paragraph in the caption is the "real" title. */
        p:first-child {
          @include headerFontFamily;
          font-size: 30px;
          padding-bottom: 10px;
        }
      }
      
      .photoset-photos {
        .photoset-photo {
          .photo-image {
            width: 100%;
            height: auto;
            vertical-align: bottom;
          }  
        }
      }
    }
    
    &.text {
      .text-body {
        border: 1px solid $postBorderColor;
        padding: 20px;
        background-color: $postBackgroundColor;
        
        p {
          margin-bottom: 20px;
          
          &:last-child {
            margin-bottom: 0;
          }
        }
      }
      
      .text-title {
        text-align: center;
        margin-top: 20px;
      }
    }
    
    &.quote {
      .quote-wrap {
        border-left: 6px solid $postBorderColor;
        padding-left: 20px;
      }
      
      .quote-text {
        font-style: italic;
        font-size: 20px;
      }
      .quote-source {
      }
    }
    
    &.link {
      text-align: center;
      
      .link-target {
        .link-name {
          display: inline-block;
          padding: 20px;
          
          font-size: 30px;
          
          &:hover {
            background-color: $highlightColor;
          }
          
          .link-symbol {
            vertical-align: middle;
            padding-right: 10px;
            font-size: 50px;
            color: $secondaryTextColor;
          }
        }
      }
      .link-description {
        margin-top: 10px;
      }
    }
  }
}

.pagination {
  text-align: center;
  margin-bottom: 10px;
  
  .pagination-link {
    display: inline-block;
    padding: 5px 20px;
    
    visibility: hidden;
    &.exists {
      visibility: visible;
    }
    
    &:hover {
      background-color: $highlightColor;
    }
  }
  
  .pagination-current {
    padding: 5px 20px;
  }
}
