$contentWidth: 980px;

$backgroundColor: #{'{color:Background Color}'};
$primaryTextColor: #{'{color:Primary Text Color}'};
$secondaryTextColor: #{'{color:Secondary Text Color}'};
$highlightColor: #{'{color:Highlight Color}'};

$postBackgroundColor: #{'{color:Post Background Color}'};
$postBorderColor: #{'{color:Post Border Color}'};

$photoShadowColor: #{'{color:Photo Shadow Color}'};

$headerFontFamily: #{'{block:IfTypekitHeaderFontFamily}"{text:Typekit Header Font Family}", {/block:IfTypekitHeaderFontFamily}sans-serif'};
$textFontFamily: #{'{block:IfTypekitTextFontFamily}"{text:Typekit Text Font Family}", {/block:IfTypekitTextFontFamily}sans-serif'};

@mixin headerFontFamily(){
  font-family: $headerFontFamily;
}

@mixin textFontFamily(){
  font-family: $textFontFamily;
}

@import "reset";
@import "general";
@import "header";
@import "posts";
@import "navigation";
@import "notes";
